.nav-bar {
    background: #101820ff;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.button {
    position: relative;
    background-color: #343a40;
    color: #ffffff;
    border: none;
    font-size: 20px;
    padding: 0px 10px;
    margin: 0px 10px;
    height: 30px;
    text-align: center;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.1s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #EA2027;
    border-radius: 5px;
    
  }

  .button:hover {
      text-decoration: none;
      background-color: #ffffff;
      color: #343a40;
  }
  
  .button:after {
    content: "";
    background: #fff;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.5s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

  
 